@font-face{
    font-family: "WebSymbolsRegular";
    src: url("fonts/websymbols-regular-webfont.eot");
    src: url("fonts/websymbols-regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("fonts/websymbols-regular-webfont.woff") format("woff"),
    url("fonts/websymbols-regular-webfont.ttf") format("truetype"),
    url("fonts/websymbols-regular-webfont.svg#WebSymbolsRegular") format("svg");
    font-weight: normal;
    font-style: normal;
}

body{                             
    background-color: #F4D07A;
    width: 100vw;
    height: 100vh;
}
#contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
#divCorazones{
    display: flex;
    font-family: "WebSymbolsRegular";
    color:#3D43F2;
    font-size: 80px;
    flex-direction: row-reverse;
}
#divCorazones div{
    padding: 15px;
	cursor:pointer;
	float: right;  
}

#divCorazones div:hover,
#divCorazones div:hover ~ div,
.coloreado{
    color: #BF7F1D !important;
}